{% extends 'base-1c.html' %}
{% load static %}

{% block pagehead %}Группы бота{% endblock  %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Группы</th>
        <th scope="col">Тематические планирования</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
        <tr>
          <td width="50%">
            <a href="{% url 'groups:group' botid group.id %}">{{ group.name }}</a>
          </td>
          <td>
            <ul class="list-group list-group-flush">
                {% for key, value in groups_plans.items %}
                  {% if key == group.id %}
                    {% for plan in value %}
                      <li class="list-group-item">
                        <a href="{% url 'plans:plan_items' botid plan.id %}">{{ plan.name }}</a>
                      </li>
                    {% endfor %} 
                  {% endif %}
                {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock  %}
