{% extends 'base-1c.html' %}
{% load static %}

{% block pagehead %}
  {% if is_new %}
    Добавляем контрольную работу
  {% else %}
    Редактируем контрольную работу
    <a href="{% url 'kr:kr' botid kr_id %}"> КР </a>
  {% endif %}
{% endblock  %}

{% block doptext %}
  Контрольная работа прикрепляется к теме тематического плана, отмеченной как "Контрольная работа".
  Поэтому прежде, чем добавлять контрольную работу, убедитесь, что в нужном вам тематическом плане существует
  необходимая вам тема в статусе "Контрольная работа". Если нет, то добавьте или отредактируйте существующую.
{% endblock  %}

{% block content %}
  <form action='' method='post'>{% csrf_token %}
    <div style='text-align: center; margin-left: 100px;'>
      {% for field in form %}
        <div class="row">
          <div class="col-md-10">
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      <div class="row">
        <div class="col-md-10">
          <br><input type='submit' value='{% if is_new %}Д О Б А В И Т Ь{% else %}С О Х Р А Н И Т Ь{% endif %}'
            class='btn btn-primary'>
        </div>
      </div>
    </div>
  </form>
{% endblock  %}