{% extends 'base-2c.html' %}
{% load static %}

{% block pagehead %}
  Отправляем контрольную работу 
  <a href="{% url 'kr:kr' botid kr_id %}">{{kr_name}}</a>
{% endblock  %}

{% block content_1 %}
  <form action='' method='post'>{% csrf_token %}
    <h5 class="card-title">Списки групп</h5>
    <div class="row mb-3">
      <div class="col-sm-12">

        <div class="d-flex align-items-start">
          <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {% for group in groups %}
              <button class="nav-link{% if forloop.first %} active{% endif %}" id="v-pills-{{ group.id }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{ group.id }}" type="button" role="tab" aria-controls="v-pills-{{ group.id }}" aria-selected="true">{{ group }}</button>
            {% endfor %}
          </div>
          <div class="tab-content" id="v-pills-tabContent">
            {% for group in groups %}
              <div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="v-pills-{{ group.id }}" role="tabpanel" aria-labelledby="v-pills-{{ group.id }}-tab">
                <input type="checkbox" onClick="toggle(this, 'toggle_check-{{ group.id }}')"> Выбрать всю группу<br/>
                <ul class="list-group">
                  <input class="form-check-input me-1 toggle_check-{{ group.id }}" type="checkbox" id="toggle_check-{{ group.id }}" name="group" value="{{ group.id }}" style="display: none;">
                  {% for user in group.users.all %}
                    <li class="list-group-item">
                      <input class="form-check-input me-1" id="toggle_check-{{ group.id }}" type="checkbox" name="chat" value="{{ user.chat }}:{{ group.id }}">
                      {{ user }}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  {% endblock  %}

{% block content_2 %}
    <h5 class="card-title">При необходимости установите дату/время дедлайна</h5>
    <div class="row mb-3">
      <div class="col-sm-12">
        <input type="datetime-local" name="deadline" min="{{ now }}" max="2030-06-30T16:30" class="form-control">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12">
        <input type='submit' value='О Т П Р А В И Т Ь' class="btn btn-primary">
      </div>
    </div>

  </form>
{% endblock  %}